spring:
  application:
    name: catalog_service

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

  endpoint:
    health:
      probes:
        enabled: true

  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true

server:
  port: 9001 
  tomcat:
    connection-timeout: 2s
    keep-alive-timeout: 15s
  threads:
    max: 50
    min-spare: 5
